.laporan__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.laporan__card {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.laporan__card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.laporan__card h4 {
    margin-block: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-dark);
    transition: 0.3s;
}

.laporan__card p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--text-light);
    transition: 0.3s;
}

canvas {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
}

@media (min-width: 540px) {
    .laporan__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .laporan__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}