@{
    ViewData["Title"] = "Home Page";
}

<!--======================================================= HERO =======================================================-->
<header class="section__container__hero header__container" id="home">
    <img class="hias" src="~/assets/img/hero/gereja1.png" alt="header" />
    <img class="hias" src="~/assets/img/hero/koin2.png" alt="header" />
    <img class="hias" src="~/assets/img/hero/hati3.png" alt="header" />
    <img class="hias" src="~/assets/img/hero/uang4.png" alt="header" />
    <img class="hias" src="~/assets/img/hero/lonceng5.png" alt="header" />
    <img class="hias" src="~/assets/img/hero/lilin6.png" alt="header" />
    <h2>
        <img src="~/assets/img/hero/bag.png" alt="laporan" /> Laporan Keuangan Gereja
    </h2>
    <h1>Sistem Informasi Keuangan<br /><span>GMIT Lanud ElTari Penfui</span></h1>
    <p>
        Pantau keuangan gereja dengan mudah dan transparan. Laporan keuangan, data sumbangan,
        dan data keuangan lainnya bisa diakses kapan saja.
    </p>
    <div class="header__btns">
        <a href="#bulanan" class="btn">Laporan Bulanan</a>
        <a href="https://youtu.be/denezXybxGI?si=NASI2RaA0S-IAXGY">
            <span><i class="ri-play-fill"></i></span>
            Cara menggunakan ?
        </a>
    </div>
</header>
<!--======================================================= AKHIR HERO =======================================================-->
<!--======================================================= BULANAN =======================================================-->
<section class="section__container__bulanan bulanan__container" id="bulanan">
    <h2 class="section__header"><span>Laporan Keuangan</span> Bulanan</h2>
    <p class="section__description">
        Penerimaan dan Pengeluaran Bulan September
    </p>
    <div class="bulanan__grid">

        <!-- Card -->
        <div class="bulanan__card">
            <h4>Penerimaan Bulan September 2024</h4>
            <p>
                RP. 100.000.000,00
            </p>
            <div class="bulanan__card__footer">
                <a href="#">
                    Informasi Detail
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <!-- Akhir Card -->
        <!-- Card -->
        <div class="bulanan__card">
            <h4>Penerimaan Bulan Januari - September 2024</h4>
            <p>
                RP. 100.000.000,00
            </p>
            <div class="bulanan__card__footer">
                <a href="#">
                    Informasi Detail
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <!-- Akhir Card -->
        <!-- Card -->
        <div class="bulanan__card">
            <h4>Pengeluaran Bulan Januari - September 2024</h4>
            <p>
                RP. 100.000.000,00
            </p>
            <div class="bulanan__card__footer">
                <a href="#">
                    Informasi Detail
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <!-- Akhir Card -->
    </div>
</section>
<!--======================================================= AKHIR BULANAN =======================================================-->
<!--======================================================= TREND GRAFIK =======================================================-->
<section class="steps" id="about">
    <div class="section__container__grafik steps__container">
        <h2 class="section__header">
            <span>Grafik Tren</span> Pemasukan dan Pengeluaran
        </h2>
        <p class="section__description">
            Analisis visual untuk memahami tren arus kas secara menyeluruh.
        </p>
        <div class="steps__grid">
            <div class="steps__card">
                <span><i class="ri-line-chart-line"></i></span>
                <h4>Grafik Pemasukan Tahun 2024</h4>
                <canvas id="chartpemasukan"></canvas>
            </div>
            <div class="steps__card">
                <span><i class="ri-line-chart-line"></i></span>
                <h4>Grafik Pengeluaran Tahun 2024</h4>
                <canvas id="chartpengeluaran"></canvas>
            </div>
        </div>
    </div>
</section>
<!--======================================================= AKHIR TREND GRAFIK =======================================================-->
<!--======================================================= KONTAK =======================================================-->
<section class="section__container__kontak offer__container" id="service">
    <h2 class="section__header"><span>Umpan</span> Balik</h2>
    <p class="section__description">
        Berikan saran dan kritik Anda untuk meningkatkan transparansi dan akuntabilitas keuangan gereja
    </p>
    <!-- Section Contact -->
    <div class="section__container" id="contact">
        <div class="getin">
            <div class="getin-details">
                <h3>Alamat</h3>
                <div>
                    <i class="ri-home-8-line dpt"></i>
                    <p>Jln. Antonov, Penfui, Kupang, Nusa tenggara Timur, Indonesia</p>
                </div>
                <h3>Telepon</h3>
                <div>
                    <i class="ri-phone-line dpt"></i>
                    <p>
                        +62 2123 4567 89 <br /> +62 2123 4567 89
                    </p>
                </div>
                <h3>Email Bantuan</h3>
                <div>
                    <i class="ri-mail-send-line dpt"></i>
                    <p>contoh1@gmail.com <br />contoh2@gmail.com</p>
                </div>
                <h3>Media Sosial</h3>
                <div class="pro-links">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-tiktok-fill"></i>
                    <i class="ri-youtube-fill"></i>
                </div>
            </div>
        </div>
        <div class="formko">
            <p>Kami sangat menghargai saran dan kritik Anda.</p>
            <div class="form-row">
                <input type="text" placeholder="Nama anda" />
                <input type="text" placeholder="Email anda" />
            </div>
            <div class="form-col">
                <input type="text" placeholder="Subjek atau Judul" />
            </div>
            <div class="form-col">
                <textarea name="" id="" cols="30" rows="5" placeholder="Pesan anda"></textarea>
            </div>
            <div class="form-col">
                <button>Kirim Pesan</button>
            </div>
        </div>
    </div>
    <!-- Akhir Section Contact -->
</section>
<!--======================================================= AKHIR KONTAK =======================================================-->
<!--======================================================= PETA =======================================================-->
<section id="peta">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.9948038033326!2d123.65462027461788!3d-10.181076689933729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c568488aef228ff%3A0xa09c4a302e01718!2sGMIT%20Jemaat%20Lanud%20Eltari!5e0!3m2!1sid!2sid!4v1730518471748!5m2!1sid!2sid"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!--======================================================= AKHIR PETA =======================================================-->
