@{
    ViewData["Title"] = "400 Bad Request";
}

<!-- Content 400 Section -->
<div class="containerku">
    <div class="skeleton">
        <img src="~/img/Icon/bad_request.png" alt="Icon" />
    </div>
    <h2>Permintaan Buruk</h2>
    <h4>Permintaan Anda tidak dapat diproses!</h4>
    <a class="btn btn-custom" asp-action="Index" asp-controller="Home" asp-area="" style="font-size: 15px; padding: 8px 15px">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 400 Section -->