@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center header-section">
    <h1 class="display-4">SISTEM INFORMASI KEUANGAN GEREJA LANUD ELTARI KUPANG</h1>
</div>

<style>
    .header-section {
        background: linear-gradient(135deg, #6a89cc, #b8e994);
        padding: 60px 20px;
        margin-bottom: 40px;
        color: #ffffff;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        opacity: 0; /* efek fade in*/
        transition: opacity 1.5s ease-in-out;
    }

    .header-section h1 {
        font-family: 'Merriweather', serif;
        font-size: 2.8rem;
        letter-spacing: 1px;
    }
</style>

<!-- sisa struktur HTML masuk ke sini -->
@section Scripts {
    <!-- Bootstrap and jQuery for Modal functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--  Script chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Main JavaScript File -->
    <script src="~/js/site.js"></script>
}



