@model List<BuktiTransaksi>

@{
    ViewData["Title"] = "Bukti Transaksi";
    var cultureInfo = new System.Globalization.CultureInfo("id-ID");
}

<table class="table">
    <thead>
        <tr>
            <th>Nomor</th>
            <th>Uraian</th>
            <th>File</th>
            <th>Tanggal Ditambahkan</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var buktiTransaksi in Model)
        {
            <tr>
                <th>@(buktiTransaksi.Jenis == Jenis.Penerimaan ? "SM" : "SK")/@buktiTransaksi.Id</th>
                <th>@buktiTransaksi.Uraian</th>
                <th>
                    <a href="@buktiTransaksi.FileBukti.AbsoluteUri">File</a>
                </th>
                <th>@buktiTransaksi.TanggalDitambahkan.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo)</th>
            </tr>
        }
    </tbody>
</table>