@model GolonganAkun

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td width="50px">@Model.KodeAkun</td>
    <td colspan="2">@Model.Uraian</td>
</tr>

@foreach(var akun in Model.DaftarAkun)
{
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td width="50px">@akun.KodeAkun</td>
        <td>@akun.Uraian</td>
    </tr>
}