@model (GolonganAkun golonganAkun, string kodeJenisAkun)

<li>@(Model.kodeJenisAkun).@(Model.golonganAkun.Kode) @Model.golonganAkun.Uraian</li>
<ul>
    @foreach(var akun in Model.golonganAkun.DaftarAkun)
    {
        <partial name="_AkunPartial" model="(akun, Model.kodeJenisAkun)" />
    }
</ul>