@inject IRepositoriGolonganAkun RepositoriGolonganAkun

@model GolonganAkun

<li>@(await RepositoriGolonganAkun.GetKode(Model)) @Model.Uraian</li>
<ul>
    @foreach(var akun in Model.DaftarAkun.OrderBy(a => a.Id)    )
    {
        <partial name="_AkunPartial" model="akun" />
    }
</ul>