@inject IRepositoriJenisAkun RepositoriJenisAkun

@model JenisAkun

<li>@(await RepositoriJenisAkun.GetKode(Model)) @Model.Uraian</li>

<ul>
    @foreach (var akun in Model.DaftarAkun.Where(a => a.KelompokAkun is null && a.GolonganAkun is null).OrderBy(a => a.Id))
    {
        <partial name="_AkunPartial" model="akun" />
    }
</ul>

<ul>
    @foreach (var kelompokAkun in Model.DaftarKelompokAkun.OrderBy(k => k.Id))
    {
        <partial name="_KelompokAkunPartial" model="kelompokAkun" />
    }
</ul>