@model (JenisAkun JenisAkun, string KodeJenisAkun)

<li>@Model.KodeJenisAkun @Model.JenisAkun.Uraian</li>

<ul>
    @foreach (var akun in Model.JenisAkun.DaftarAkun.Where(a => a.KelompokAkun is null && a.GolonganAkun is null))
    {
        <li>@(Model.KodeJenisAkun).@akun.Kode @akun.Uraian</li>
    }
</ul>

<ul>
    @foreach (var kelompokAkun in Model.JenisAkun.DaftarKelompokAkun)
    {
        <partial name="_KelompokAkunPartial" model="(kelompokAkun, Model.KodeJenisAkun)" />
    }
</ul>