@model JenisAkun

<li>@Model.KodeAkun @Model.Uraian</li>

<ul>
    @foreach(var iakun in Model.DaftarIAkun)
    {
        @if(iakun is Akun akun)
        {
            <partial name="_AkunPartial" model="akun" />
        } 
        else if(iakun is KelompokAkun kelompokAkun)
        {
            <partial name="_KelompokAkunPartial" model="kelompokAkun" />
        }
    }
</ul>