@model KelompokAkun

<li>@Model.KodeAkun @Model.Uraian</li>

<ul>
    @foreach (var iakun in Model.DaftarIAkun)
    {
        @if (iakun is Akun akun)
        {
            <partial name="_AkunPartial" model="akun" />
        }
        else if (iakun is GolonganAkun golonganAkun)
        {
            <partial name="_GolonganAkunPartial" model="golonganAkun" />
        }
    }
</ul>