@inject IRepositoriKelompokAkun RepositoriKelompokAkun

@model KelompokAkun

<li>@(await RepositoriKelompokAkun.GetKode(Model)) @Model.Uraian</li>

<ul>
    @foreach (var akun in Model.DaftarAkun.OrderBy(a => a.Id))
    {
        <partial name="_AkunPartial" model="akun" />
    }
</ul>

<ul>
    @foreach(var golonganAkun in Model.DaftarGolonganAkun.OrderBy(g => g.Id))
    {
        <partial name="_GolonganAkunPartial" model="golonganAkun" />
    }
</ul>