@model TambahJenisAkunVM

@{
    ViewData["Title"] = "Akun | TambahJenisAkun";
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Akun</a></li>
            <li class="breadcrumb-item" aria-current="page">Penerimaan</li>
        </ol>
    </nav>
</div>