<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistem Keuangan GMIT Lanud Penfui</title>

    @* REMIXICON *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />

    @* BOOTSTRAP *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @* CSS GLOBAL *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIKeuanganGMITLanudPenfui.Web.styles.css" asp-append-version="true" />

    <!-- Inisialisasi Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <!-- Akhir Inisialisasi Owl Carousel -->
</head>
<body>
    <partial name="_NavbarPartial" />
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer__bar">
            Copyright © 2024 Ilmu Komputer Undana. All rights reserved.
        </div>
    </footer>

    <script src="https://unpkg.com/%40dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    @* JQUERY *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* CHART.JS *@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

    @* BOOTSTRAP *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* JAVASCRIPT GLOBAL *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/chart.js" asp-append-version="true"></script>

    <!-- Inisisalisasi Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Akhir Inisisalisasi Chart.JS -->
    @{
        var globalOptions = new ToastrOptions
            {
                closeButton = true,
                progressBar = true,
                newestOnTop = true,
                preventDuplicates = false,
                timeOut = (int)TimeSpan.FromSeconds(5).TotalMilliseconds,
                extendedTimeOut = (int)TimeSpan.FromSeconds(5).TotalMilliseconds,
                showDuration = (int)TimeSpan.FromSeconds(0.5).TotalMilliseconds,
                hideDuration = (int)TimeSpan.FromSeconds(0.5).TotalMilliseconds,
                showEasing = Easings.Swing,
                hideEasing = Easings.Swing,
                showMethod = AnimationMethods.FadeIn,
                hideMethod = AnimationMethods.FadeOut,
                positionClass = PositionClasses.TopRight,
            };
    }

    <vc:toastr global-options=globalOptions></vc:toastr>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
