@using SIKeuanganGMITLanudPenfui.Web.Controllers
<header>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#" class="logo">Lanud<span>El-Tari</span></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Laporan" asp-action="@nameof(LaporanController.Index)">Laporan</a></li>
        </ul>
    </nav>
</header>