<header>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#" class="logo">Lanud<span>El-Tari</span></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#bulanan">Laporan Bulanan</a></li>
            <li><a href="#about">Trend Grafik</a></li>
            <li><a href="#service">Umpan Balik</a></li>
        </ul>
    </nav>
</header>